//- includes/mixins.jade

mixin sketchsheet(title, device, filters, dir)
  .column.item(class='#{filters}')
    .card
      .card-title #{title}
      input(type='checkbox' name='files[]' value='#{dir}')
      .overlay
        span Added to collection
      span
        i.icon-plus
        i.icon-check
      img(src='sketchsheets/#{dir}/thumb.png' alt='#{filters}')
      .downloadzip
        <span data-src='#{dir}' ga('send', 'event', 'Sketchsheet', 'Download', '#{device}', '0')>Download</span>